* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #D9D9D9;
    font-size: large;
}

header {
    background-color: #169CA8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
}
.name {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    margin-left: 20px;
}

#menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.info {
    color: #000000;
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 1s;
}

.info:hover{
    color: #DB9400;
}

#intro {
    background: rgb(22,156,168);
    background: linear-gradient(0deg, rgba(22, 156, 168, 0.266) 0%, rgba(0,0,0,1) 50%);    
    font-size: 30px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    color: #169CA8;
    padding-left: 20px;
}

.container h2{
    color: #D9D9D9;
}

.button-redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #169CA8;
    font-size: 17px;
    padding: 10px;
    width: 100px;
    border: 2px solid #169CA8;
    border-radius: 5px;
    margin: 5px;
}

.button-redes:hover{
    border: 2px solid #DB9400;
    color: #DB9400;
}

.links-btn {
    display: flex;
}

.links-btn svg{
    width: 20px;
}

#about {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #D9D9D9;
    text-align: center;
    font-size: 30px;
    border-top: 1px solid #169CA8;
    border-bottom: 1px solid #169CA8;
    background: rgb(22,156,168);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(22, 156, 168, 0.266)  0%);
}

.templete {
    color: #D9D9D9;
    font-size: 40px;
}

.about-me {
    text-align: justify;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.photo {
    width: 300px;
    border-radius: 150px;
    border: 2px solid #169CA8;
}

.my-story {
    text-align: justify;
    width: 40%;
}

#skills {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h2 {
    color: #169CA8;
    font-size: 30px;
    text-align: center;
}

.skills-group {
    border: 2px solid #169CA8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 300px;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#skill-description {
    text-align: center;
    max-width: 200px;
    padding: 5px;
}

.element-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
}

.svgs-logos {
    border: 2px solid #169CA8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.4s;
}

.svgs-logos:hover {
    border: 2px solid #DB9400;
}

 #skills svg {
    width: 50px;
    height: 50px;
}

#skills svg:hover {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

.soft-skills {
    text-align: justify;
    width: 80%;
}

#skills a {
    margin-bottom: 30px;
}

#projects {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
}

.box{
    width: 300px;
    height: 400px;
    border: 2px solid #169CA8;
    background-color: #000000;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #169CA8;
    font-size: 20px;
}

.box img {
    width: 300px;
}

.box img:hover {
    width: 300px;
    border-radius: 0;
}

.project-description {
    color: #D9D9D9;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.no-project {
    text-align: center;
}

.no-project a {
    display: none;
}

.btn-localization {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    border: 2px solid #169CA8;
    border-radius: 5px;
    text-decoration: none;
    color: #169CA8;
    font-size: 20px;
    margin: 0 5px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.btn:hover {
    border: 2px solid #DB9400;
    color: #DB9400;
}

.btn-localization svg {
    width: 30px;
}

.text {
    width: 90%;
    font-size: 14px;
}

#contacts {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.elements-contacts {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redes {
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.contact-form input, textarea{
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 10px;
    color: #D9D9D9;
    border: 2px solid #169CA8;
    background-color: #000000;
}

.contact-form input {
    height: 40px;
}

.elements-contacts h2 {
    text-align: center;
    color: #169CA8;
}

#button-contact {
    font-size: 20px;
    color: #169CA8;
    cursor: pointer;
}

#button-contact:hover {
    border: 2px solid #DB9400;
    color: #DB9400;
}

.mail {
    color: #D9D9D9;
    text-decoration: none;
}

.mail:hover {
    color: #DB9400;
}

.logo {
    margin-right: 5px;
    width: 40px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #202022;
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}

@media only screen and (max-width: 940px) {
    #intro {
        font-size: 25px;
    }

    .about-me {
        flex-direction: column;
    }

    
    .my-story {
        width: 95%;
        font-size: 15px;
    }

    #skills h2 {
        font-size: 20px;
    }

    .element-skills {
        max-width: 200px;
    }

    #skills svg {
        width: 37px;
    }

    .svgs-logos {
        width: 50px;
        height: 50px;
    }

    #skills svg:hover {
        width: 43px;
        height: 43px;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 768px) {

    .name {
        font-size: 20px;
    }

    .info {
        margin: 10px;
        font-size: 17px;
    }

    #intro {
        font-size: 20px;
        height: 500px;
    }
    
    .about-me {
        flex-direction: column;
    }

    .templete {
        font-size: 30px;
    }

    .photo {
        width: 200px;
    }

    .my-story {
        width: 95%;
        font-size: 15px;
    }

    #skills h2 {
        font-size: 20px;
    }

    .element-skills {
        max-width: 200px;
    }
    #skills svg {
        width: 30px;
    }

    .svgs-logos {
        width: 35px;
        height: 35px;
    }

    #skills svg:hover {
        width: 32px;
        height: 32px;
        transition: 0.3s;
    }
    
    .elements-contacts {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        width: 30px;
    }
}

@media only screen and (max-width: 600px) {

    .name {
        font-size: 12px;
    }

    .info {
        margin: none;
        font-size: 12px;
    }

    .container {
        margin-top: 100px;
    }

    #intro {
        font-size: 16px;
        flex-direction: column;
    }

    .button-redes {
        width: 100px;
        font-size: 12px;
        height: 100%;
        padding: 2px;
        border-radius: 5px;
    }

    #intro svg {
        width: 15px;
        height: 15px;
    }

    .photo {
        width: 150px;
    }
    
    .my-story {
        font-size: 12px;
    }

    #skill-description {
        font-size: 12px;
    }

    #skills h2 {
        font-size: 18px;
    }

    .contact-form {
        width: 100%;
        gap: 5px;
    }

   .contact-form input {
        width: 300px;
        margin: auto;
    }

    .contact-form textarea {
        width: 300px;
        margin: auto;
    }

    #button-contact {
        margin-top: 5px;
    }

}

@media only screen and (max-width: 432px) {
    .info {
        font-size: 10px;
        margin: 4px;
    }

    .skills-group {
        flex-direction: column-reverse;
    }

    .element-skills {
        max-width: 200px;
    }

    .soft-skills {
      
      width: 95%;
  }

}


