* {
    font-family: Arial, Helvetica, sans-serif;
}

/*
#202022 preto
#D9D9D9 branco
#0CB1F2 azul claro
#0597F2 azul
#0420BF azul escuro
*/

body{
    margin: 0;
    padding: 0;
    background-color: #202022;
    color: #E8F1F2;
}

#container {
    background-color: #20202224;
    color: #0CB1F2; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 80px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: italic;
    margin: 10px;
    font-size: 25px;
    color: #0CB1F2;
    width: 280px;
    height: 50px;
    text-decoration: none;
}


#menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.info {
    color: #0CB1F2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 1s;
}

.info:hover{
    color: #0597f28f;
}

#intro {
    font-size: 40px;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    color: #0CB1F2;
    text-shadow: 3px 2px 0px #000000;
}

.title-initial{
    color: #D9D9D9;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1F2;
    box-shadow: 1px 0px 20px 0px #000000;
    text-shadow: none;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
}

.contact:hover{
    background-color: #006494;
}

.img{
    width: 400px;
    height: 400px;
}

#sobre {
    background-color: #13293D;
    color: #E8F1F2;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

.templete {
    padding-top: 10px;
    color: #E8F1F2;
    margin-bottom: 20px;
    text-shadow: 3px 2px 0px #000000;
    font-size: 40px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.templete2 {
    padding-top: 10px;
    color: #E8F1F2;
    text-shadow: 3px 2px 0px #000000;
    font-size: 40px;
    text-align: center;
}

.templete3 {
    color: #E8F1F2;
    text-shadow: 3px 2px 0px #000000;
    position: relative;
    z-index: 1;
    width: 300px;
    margin: auto;
}

.sobre-mim{
    text-align: justify;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.photo {
    width: 300px;
    border-radius: 150px;
}

.texto {
    width: 40%;
}

#projetos {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 30px;
    overflow: hidden;
    margin: auto;
    display: flex;
}

.navigation {
    display: flex;
    margin-top: 5px;
}

.bar{
    width: 70px;
    height: 17px;
    margin: 5px;
    border: 2px solid #E8F1F2;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.bar:hover {
    background-color: #0CB1F2;
}

.slides input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.box{
    width: 935px;
    height: 100%;
    border-radius: 30px;
    background-color: #13293D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #E8F1F2;
    text-shadow: 3px 2px 0px #000000;
}

.img-btn {
    display: flex;
    align-items: center;
}

.box img {
    width: 500px;
}

.btn-location {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    border: 2px solid #202022;
    box-shadow: 1px 0px 3px 0px #000000;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin: 0 5px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.btn:hover {
    border: 2px solid #0CB1F2;
}

.btn-location svg {
    width: 30px;
}

.project-description {
    background-color: #e8f1f2e3;
    color: #000000;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.text {
    width: 90%;
}

.no-project {
    text-align: center;
}

#slide1:checked ~ .frist{
    margin-left: 0;
}

#slide2:checked ~ .frist{
    margin-left: -20%;
}

#slide3:checked ~ .frist{
    margin-left: -40%;
}

#slide4:checked ~ .frist{
    margin-left: -60%;
}

#slide5:checked ~ .frist{
    margin-left: -80%;
}



#competencias {
    background-color: #13293D;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.tec-logos{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 90px;
}

.element-skills{
    display: flex;
    margin: auto;
    position: relative;
    bottom: 150px;
    align-items: center;
    justify-content: space-between;
}

.box-skills {
    background-color: #0CB1F2;
    box-shadow:  18px 13px 30px 0px #000000;
    margin: 20px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

.title-container{
    background-color: #13293D;
    text-shadow: 3px 2px 0px #000000;
    color: #E8F1F2;
    border-bottom-right-radius: 100px;
    text-align: center;
    width: 200px;
    height: 80px;
}

.list {
    font-size: 17px;
    color: #202022;
}

.download-cv{
    background-color: #D9D9D9;
    box-shadow:  18px 13px 30px 0px #000000;
    border-radius: 20px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 100px;
    width: 80%;
    height: 100%;
}

.button {
    background-color: #006494;
    border-radius:10px;
    transition: 1s;
    position: relative;
    text-align: justify;
    top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #E8F1F2;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
}

.button:hover{
    background-color: #13293D;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    color: #202022;
    background-color: #0CB1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30px;
}

@media (max-width: 989px){
    .box{
        margin: 2px;
        box-shadow: none;
        margin-top: 20px;
    }
}

@media (max-width: 913px){
    .top, .center, .down{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    #intro{
        font-size: 20px;
    }

    .sobre-mim{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

   .top, .down,.center{
    flex-direction: column;
   }

   .box {
    width: 300px;
    display: flex;
    flex-direction: column;
   }

   .text {
    text-align: center;
   }

   .project-img{
    width: 300px;
   }

   .btn {
    margin: 1px;
   }

   .btn-location {
    display: flex;
    flex-direction: column;
   }

   .element-skills{
    flex-direction: column;
   }

   .tec-logos {
    width: 30px;
   }

}


